@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #D9D9D9;
  --foreground: #171717;
  --highlight-yellow: #FFFF00;
  --shaded-yellow: #dada0c;
  --shaded-shaded-yellow: #a3a30e;
  --primary-purple: #5500ff;
  --footer-grey: #232323;
  --dark-red: #8B0000; /* Added dark-red color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9D9D9;
    --foreground: #D9D9D9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Work Sans', Helvetica, sans-serif;
}
.header {
  background: var(--primary-purple);
  color: var(--background);
}
.footer {
  background: var(--footer-grey);
  color: var(--background);
}
