@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeba2c;
  --foreground: #171717;
  --highlight-yellow: #eeba2c;
  --shaded-yellow: #d4a115;
  --shaded-shaded-yellow: #886a19;
  --primary-purple: #201e0f;
  --footer-grey: #232323;
  --dark-red: #8B0000; /* Added dark-red color */
  --ct-black: #000000;
  --ct-grey: #161616;
  --ct-contrast-grey: #212121;
  --ct-light-grey: #565656;
  --ct-orange: #eeba2c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #D9D9D9;
    --foreground: #D9D9D9;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Work Sans', Helvetica, sans-serif;
}
.header {
  background: var(--primary-purple);
  color: var(--background);
}
.footer {
  background: var(--footer-grey);
  color: var(--background);
}
